/* Link de importação da Fonte Google estilo "Roboto" */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* root */
:root {
    --color-background-primary: #eee;
    --color-letter: #000;
    --color-icones: #ffe600;
    --color-icones-hover: #ff9900;
    --color-price: #aac6f4;
    --background-color-footer: #494949;
}

html {
    scroll-behavior: smooth;
}
/* Configuração do corpo */
body {
    font-family: "Roboto", serif;
    background-color: var(--color-background-primary);
}

/* Configuração do header */
header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--color-background-primary);
    border-bottom: 3px solid var(--color-icones);
}
/* Configuração da logo */
#logo {
    max-width: 70px;
    mix-blend-mode: darken;
}

.logo {
    display: flex;
    align-items: center;
    font-family: cursive;
    margin-left: 5%;
}
/* Configuração das seções */
.sections {
    display: flex;
    gap: 50px;
    margin-right: 5%;
    list-style: none;
}

#sections {
    text-decoration: none;
    color: var(--color-letter);
    transition: 0.5s all ease;
}

#sections:hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background-color-footer);
    color: #fff;
}
/* Configuração do container*/
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

/* Configuração do email de contato */
#text {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    width: 250px;
    height: 35px;
    border: 1px solid var(--color-letter);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

#submit {
    margin-top: 15%;
    background-color: var(--color-icones);
    padding: 10px;
    font-family: sans-serif;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all ease;
}
#submit:hover {
    transition: 0.5s all ease;
    background-color: var(--color-icones-hover);
    border-radius: 10px;
}

/* Configuração da seção de informação */
.information {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin: 0 auto;
}

.info {
    display: flex;
    margin: 15px;
    align-items: center;
}

#space {
    margin-top: 100px;
}
.info-text {
    margin-left: 15px;
    font-size: 19px;
}

.fa-fire {
    margin-left: 5px;
}
#confi {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Configuração do video de apresentação */
.how-to-work {
    display: flex;
    justify-content: center;
}

.video-trombones {
    margin-top: 100px;
}

#video {
    width: 650px;
    height: 350px;
}

/* Configuração para divs com preço */
.pricing {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    border: 1px solid #000;
    width: 100%;
    height: 350px;
    margin-right: 20px;
    font-size: 17px;
    border-radius: 10px;
    transition: 0.5s all ease;
}

.price:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 20px #000;
}
.type {
    background-color: var(--color-price);
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.information-type {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.information-type > li {
    margin: 10px 0;
}

button {
    margin-bottom: 15px;
    background-color: var(--color-icones);
    padding: 15px;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.5s all ease;
    cursor: pointer;
}
button:hover {
    background-color: var(--color-icones-hover);
    border-radius: 10px;
}

/* Configuração do footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-footer);
    color: var(--color-background-primary);
}

.contact {
    width: 90%;
}

.contact > p {
    margin-top: 10px;
}

.more-information > p {
    margin-bottom: 10px;
}
.channel-contact {
    margin-top: 20px;
}
.linkedin-icon {
    text-decoration: none;
    font-size: 40px;
    color: #0077B5;
    position:relative;
}

.github-icon {
    text-decoration: none;
    font-size: 40px;
    color: #000;
}

.instagram-icon {
  text-decoration: none;
  font-size: 40px;
  color: linear-gradient(45deg, #F58529, #E4405F, #8134AF, #515BD4);
  background: linear-gradient(45deg, #F58529, #E4405F, #8134AF,#515BD4);
  background-clip: text;
  color: transparent;
}

.more-information {
    margin-top: 20px;
}

/* Responsividade*/

@media (max-width: 765px) {
    .pricing {
        width: 100%;
    }
    .price {
        margin: 100px 5px 0px;
    }
}
@media (max-width: 630px) {
    .pricing {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    #price-mobile {
        margin-top: 100px;
    }
    .price {
        margin-top: 10px 0px;
    }
    #video {
        width: 500px;
        height: 350px;
    }
}
@media (max-width: 490px) {
    .logo {
        margin-left: 0px;
    }
    .sections {
        display: none;
    }
    header {
        justify-content: center;
    }
    .information {
        width: 90%;
    }
    #video {
        width: 400px;
        height: 250px;
    }
}
@media (max-width: 450px) {
    #text {
        font-size: 20px;
    }
    #video {
        width: 370px;
        height: 200px;
    }
}
@media (max-width: 390px) {
    #video {
        width: 300px; 
        height: 190px;
    }
    .contact > p {
        margin-top: 30px;
    }
    .more-information > p {
        margin-bottom: 30px;
    }
    #text {
        text-align: center;
        margin-top: 50px;
    }
    .information {
        width: 95%;
    }
}